.navbar-name {
    font-family: 'Irish Grover', cursive;
}

.home-container {
    width: 100%;
    height: 90vh;
}

.home-sec1,
.home-sec2 {
    margin-top: 20%;
}

@media(min-width:760px) {
    .home-container {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .home-sec1,
    .home-sec2 {
        margin-top: 40%;
    }

    .exp-container {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }
}

.home-sec2 {
    text-align: center;
}

.home-btns>button {
    margin-right: 24px;
}

.self-image {
    width: 300px;
    height: 350px;
    border-radius: 15%;
}