.navbar-name {
    font-family: 'Irish Grover', cursive;
}

.home-container {
    height: 90vh;
    margin-top: 40px;
}

.home-sec2 {
    text-align: center;
}

.home-btns>button {
    margin-right: 24px;
}

.self-image {
    max-width: 500px;
    max-height: 400px;
}

.exp-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.tech-icons {
    padding: 5px;
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tech-icons>img {
    width: 40px;
    height: 45px;
}

.tech-icons>span {
    font-weight: bold;
}

.skills-icons {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-container {
    background-color: gold;
}

.contacts>img {
    margin-right: 16px;
}

.contacts>a {
    color: black;
    text-decoration: none;
}

.about-container,
.home-container {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
}

.about-pic {
    max-height: 250px;
}

@media(min-width:760px) {

    .about-container,
    .home-container {
        grid-template-columns: 50% 50%;
    }
}